<div class="searchbar">
<%= form_tag(root_path, method: "get", class: "searchbox") do %>
  <%= label_tag(:q, "") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
</div>
<div class="main">
  <code>
    <%= @search %>
    <% unless @location.nil? %>
    <%= @location[:label] %>
    <%= @location[:coordinates] %>
    <% end %>
  </code>
  <ul>
  <% @stations.each do |station| %>
    <li>
      <%= station.name %>
      <%= station.free_bikes %>
      <%= station.distance %>
    </li>
  <% end %>
  </ul>
</div>
