<div class="searchbar">
<%= form_tag(root_path, method: "get", class: "searchbox") do %>
  <%= label_tag(:q, "") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
</div>
<div class="main">
  <div class="searchresult">
    <code>
      <% unless @location.nil? %>
      <%= @location[:label] %>
      <%= @location[:coordinates] %>
      <% end %>
    </code>
  </div>

  <div class="stations">
    <ul>
      <% unless @stations.nil? %>
      <% @stations.each do |station| %>
      <li>
        Station <%= station.name %> :
        <%= station.free_bikes %> vélibs à
        <%= walking_distance(station.distance) %> minutes
      </li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>
